homepage
<form action="/process_roll">
<label for ="dice">How many dice?</label>
<input id="dice" type = "text" name=dice>
<label for="sides">How many sides?</label>
<input id="sides" type = "text" name=sides>
<button>Go</button>

</form>
